 <div>
   <% if current_user %>
     Currently logged in as <%= "#{current_user.name} (#{current_user.admin ? 'Admin' : 'Employee'})" %>
     <%= link_to "Log out", logout_path, method: :post %>
   <% end  %>

   <%= form_tag(login_path, authenticity_token: true) do %>
      <%= label_tag('Sign in as') %>
      <%= select_tag('employee', options_from_collection_for_select(@employees, "id", "name_company_role")) %>
      <%= submit_tag('Sign in')%>
   <% end %>
 </div>